.sortContainer {
  width: 24%;
  height: fit-content;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  -webkit-box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.5s ease;
}
.sortTitle {
  width: 100%;
  text-align: center;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  color: var(--text-color-secondary);
  background-color: var(--bg-color-primary);
  border-bottom: 2px solid var(--text-color-primary);
}
.tasks {
  width: 100%;
  background-color: var(--text-color-secondary);
  padding: 10px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  transition: all 0.5s ease;
}

.tasks p {
  font-size: 0.8em;
  text-align: center;
}
.loading {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
@media (max-width: 1000px) {
  .sortContainer {
    width: 48%;
  }
}
@media (max-width: 700px) {
  .sortContainer {
    width: 98%;
  }
}
