.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: var(--text-color-primary);
  padding: 0 7px 7px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}
.container:not(:last-child){
  margin-bottom: 10px;
}
.title {
  display: flex;
  align-items: baseline;
  width: 100%;
  font-weight: 600;
  z-index: 1;
  color: var(--bg-color-primary);
}

.menu {
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}
.title svg {
  transform: translateY(5px);
  cursor: pointer;
}
.titleText {
  max-width: 15ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}
.menu {
  color: var(--bg-color-tertiary);
  margin-right: auto;
  transition: all 0.5s ease;
}
.menu.active {
  transform: rotate(180deg) translateY(-8px);
}
.title svg:nth-child(5) {
  color: var(--text-color-tertiary);
}

.description {
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--bg-color-tertiary);
  font-size: 0.8em;
  transition: all 0.5s ease;
}
.description p:nth-child(1) {
  font-weight: 800;
}
.description.active {
  height: auto;
}

.status {
  font-size: 0.7em;
  margin: 5px;
  border-radius: 7px;
  padding: 2px 5px;
  background-color: var(--bg-color-primary);
  color: var(--text-color-secondary);
}

.line {
  display: flex;
  align-self: center;
  width: 100%;
  height: 2px;
  background-color: var(--bg-color-primary);
  transition: all 0.5s ease;
  margin-top: 5px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
}
.backButton {
  display: flex;
  align-items: flex-end;
  background: var(--text-color-tertiary);
  color: var(--text-color-secondary);
  border: none;
  padding: 5px 7px;
  cursor: pointer;
  border-radius: 7px;
}
.nextButton {
  display: flex;
  align-items: flex-end;
  background: var(--bg-color-primary);
  color: var(--text-color-secondary);
  border: none;
  padding: 5px 7px;
  cursor: pointer;
  transition: 0.5s all ease;
  border-radius: 7px;
}
