.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  color: var(--text-color-primary);
  padding: 0 7px 7px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}
.title {
  display: flex;
  align-items: baseline;
  font-weight: 600;
  z-index: 1;
  background-color: var(--text-color-secondary);
}
.title input {
  display: none;
}
.menu {
  position: relative;
  top: -10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 20px;
  height: 20px;
  overflow: hidden;
  transition: all 0.5s ease;
  cursor: pointer;
}
.menu span {
  position: relative;
  display: flex;
  width: 20px;
  height: 2px;
  background-color: var(--text-color-primary);
  transition: all 0.5s ease;
}
.menu span:first-child {
  top: 13px;
  left: -6.5px;
  transform: rotate(45deg);
}

.menu span:last-child {
  top: -5px;
  left: 6px;
  transform: rotate(-45deg);
}
.menu.active span:first-child {
  top: 5px;
  left: 6.5px;
  transform: rotate(-135deg);
}
.menu.active span:last-child {
  top: -13px;
  left: -6.5px;
  transform: rotate(135deg);
}
.description {
  opacity: 0;
  display: none;
  font-size: 0.8em;
  transition: all 0.5s ease;
}
.description.active {
  opacity: 1;
  display: flex;
  transition: all 0.5s ease;
}

.status {
  font-size: 0.7em;
  width: fit-content;
  margin: 5px;
  border-radius: 7px;
  padding: 2px;
  background-color: var(--bg-color-primary);
  color: var(--text-color-secondary);
}
.dropDown {
  transform: translateY(calc(-100% + 40px));
  transition: all 0.5s ease;
}
.dropDown.active {
  transition: all 0.5s ease;
  transform: translateY(0);
}
.line {
  display: flex;
  align-self: center;
  width: 80%;
  height: 2px;
  background-color: var(--bg-color-primary);
  transition: all 0.5s ease;
  margin-top: 5px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
}
.backButton {
  display: flex;
  align-items: flex-end;
  background: var(--text-color-tertiary);
  color: var(--text-color-secondary);
  border: none;
  padding: 5px 7px;
  cursor: pointer;
  border-radius: 7px;
}
.nextButton {
  display: flex;
  align-items: flex-end;
  background: var(--bg-color-primary);
  color: var(--text-color-secondary);
  border: none;
  padding: 5px 7px;
  cursor: pointer;
  transition: 0.5s all ease;
  border-radius: 7px;
}
