.authInput {
  display: flex;
  padding: 5px;
  margin: 10px 0;
  border-bottom: 2px solid var(--bg-color-primary);
  transition: 0.5s all ease;
}
.authInput:hover {
  border-bottom: 2px solid var(--text-color-tertiary);
}
.authInput input {
  margin-left: 5px;
  letter-spacing: 1px;
  display: flex;
  background: none;
  color: black !important;
  border: none;
  outline: none;
}
.dashboardInput input {
  padding: 5px;
  width: 20%;
  min-width: 200px;
  background: none;
  border: none;
  border-bottom: 2px solid var(--bg-color-primary);
  border-left: 2px solid var(--bg-color-primary);
  border-bottom-left-radius: 10px;
  outline: none;
  margin-top: 5px;
  display: flex;
}
.dashboardInput input[name="description"] {
  width: 50%;
  min-width: 300px;
}
