.container {
  color: var(--text-color-primary);
}
.container h3 {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.form {
  margin: 10px;
}

.form button {
  background: var(--bg-color-primary);
  color: var(--text-color-secondary);
  border: none;
  margin: 15px 0 20px;
  padding: 9px;
  cursor: pointer;
  width: 150px;
  font-weight: 600;
  transition: 0.5s all ease;
  border-radius: 10px;
}
