.container {
  width: 100%;
  display: flex;
  height: fit-content;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .container {
    flex-wrap: wrap;
  }
}
