:root #light {
  --bg-color-primary: #6a7efc;
  --bg-color-secondary: #edf2f6;
  --bg-color-tertiary: #ffffff7a;
  --text-color-primary: #494953;
  --text-color-secondary: #fff;
  --text-color-tertiary: #ff5656;
}
:root #dark {
  --bg-color-primary: #1d213c;
  --bg-color-secondary: #7b8893;
  --bg-color-tertiary: #ffffff7a;
  --text-color-primary: #ffffff;
  --text-color-secondary: #a1a1a1;
  --text-color-tertiary: #ff5656;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
