:root #light {
  --bg-color-primary: #6a7efc;
  --bg-color-secondary: #edf2f6;
  --bg-color-tertiary: #4747477a;
  --text-color-primary: #494953;
  --text-color-secondary: #fff;
  --text-color-tertiary: #ff5656;
  background-image: url("../public/images/back-light.jpg");
  background-position: right top;
}
#light input {
  color: #222222;
}
:root #dark {
  --bg-color-primary: #1d213c;
  --bg-color-secondary: #edf2f6;
  --bg-color-tertiary: #343434db;
  --text-color-primary: #ffffff;
  --text-color-secondary: #ffffff;
  --text-color-tertiary: #ff5656;
  background-image: url("../public/images/back-dark.jpeg");
  background-position: right top;
}
#dark input {
  color: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
